{% extends '_base.html' %}

{% block title %}
    Account Delete | HelloWorld 
{% endblock %}

{% block content %}
    <h1 class="display-5">
        <strong style="color: #777;">
            Account Delete
        </strong>
    </h1>
    <br>
    <p class="lead">
        *Are you sure you want to delete your account '{{user.username}}' ?<br>
        *All your posts and data will be erased.<br>
        *This action cannot be undone.<br>
        <strong style="color: #ffc107;">Proceed with caution!</strong>
    </p>
    <br>
    <form action="" method="post">
        {%csrf_token%}
        <input type="submit" value="Delete Account" class="btn btn-danger">
    </form>
{% endblock %}