{% extends '_base.html' %} {% load static crispy_forms_tags %} {% block title %}
Password Reset Confirm | HelloWorld {% endblock %} {% block content %}
<form action="" method="post">
  <h1 class="display-5">
    <strong style="color: #777">Enter New Password</strong>
  </h1>
  <br />
  <p>
    Please enter your new password twice so we can verify you typed it in
    correctly.
  </p>
  {%csrf_token%} {{form|crispy}}
  <input
    type="submit"
    value="Change my Password"
    class="btn btn-outline-success"
  />
</form>
{% endblock %}
