{% extends '_base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
Password Change | HelloWorld
{% endblock %}

{% block content %}
<form action="" method="post" class="p-3 pt-5">

    <h1 class="display-4"><strong>Password Change</strong></h1>

    <br>

    <p>
        Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
        typed it in correctly.
    </p>

    {%csrf_token%}

    {{form|crispy}}

    <input type="submit" value="Change my Password" class="btn btn-outline-success">

</form>
{% endblock %}