{% extends '_base.html' %}

{% block title %}
Home | HelloWorld
{% endblock %}

{% block content %}
<div class="container-fluid text-white p-5 text-center"
  style="min-height: 80vh; background-image: url(/static/images/world1.jpg); background-size: cover; width: 100%;">
  <div class="col">
    <h1 class="display-2"><span style="color: rgb(232, 163, 139);">Welcome to </span><strong><span
          style="color: #333;"><em>Hello</span>World!</em></strong> <span style="color: rgb(232, 163, 139);">Blog</span>
    </h1>
    <h1 class="display-4" style="color:#5cb15f;">Explore Discover Connect</h1>
    <hr>
    <p class="lead">Your gateway to stories, ideas, and perspectives from around the world.</p>
    <p class="lead">What are you waiting for ?</p>
    <a class="cta-btn" href="#" style="color: white;">Start Exploring</a>
  </div>
</div>
<!-- <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide bg-secondary" data-ride="carousel ">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
      </div> -->
{% endblock %}