{% extends '_base.html' %}
{% load static %}

{% block title %}
Home | HelloWorld
{% endblock %}

{% block content %}
<div class="home-background">
</div>
<section class="home pt-5">

  <div class="text-white text-center hero-section" style="background: rgba(0, 255, 0, 0.5);">

    <h1 class="display-4">Welcome to <strong><span>Junior</span><span>Dev</span><span>Tools</span></strong></h1>
    <hr>

    <h1 class="display-6"><strong>A Community For Junior Developers</strong></h1>
    <hr>

    <p class="lead">Your journey to becoming a pro starts here!<br>What are you waiting for ?</p>
    <br>

    <a class="home__cta" href="{% url 'blog_list' %}">Join The Community <i class="fas fa-handshake"></i></a>

  </div>

</section>

{% endblock %}