* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 2%;
}

.registration h1 {
    color: white;
    font-weight: 400;
}

.registration {
    text-align: center;
    width: 60%;
    margin: auto;
    background-image: linear-gradient(to right, #333, #777);
    padding: 50px;
    border-radius: 10px;
}

.registration ul {
    list-style: none;
}

#id_username_helptext,
#id_password1_helptext,
#id_password2_helptext {
    color: white;
}


.alert ul li {
    color: red;
}

p a,
p a:visited {
    color: orange;
    text-decoration: none;
}

p a:hover,
p a:focus {
    color: rgb(255, 114, 63);
}

.signup-link {
    text-align: center;
    font-style: italic;
}

.cta-btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.cta-btn:hover {
    background-color: #3e8e41;
}

.settings {
    text-decoration: none;
    color: white;
}

.settings:active {
    background-color: #777;
}

.settings img {
    float: right;
    width: 25px;
    height: 25px;
}

.about:active {
    background-color: #777;
}

.about img {
    float: right;
    width: 25px;
    height: 25px;
}

.list-group-item a,
.list-group-item a:visited {
    text-decoration: none;
    display: block;
    color: orangered;
}

.list-group-item a:hover {
    background-color: orangered;
    color: white;
}

.account-edit {
    display: inline-block;
    text-decoration: none;
    background-color: #555;
    padding: 10px 0;
    width: 80px;
}

/* Elements to not display from the profile_pic_update form */
#profile_picture-clear_id,
label[for="id_profile_picture"],
label[for="profile_picture-clear_id"] {
    display: none;
}