* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 2%;
}

.registration h1 {
    color: rgba(255, 68, 0, 0.6);
}

.registration {
    text-align: center;
    width: 60%;
    margin: auto;
    background-image: linear-gradient(to right, rgb(251, 213, 201), rgb(233, 245, 255));
    padding: 50px;
    border-radius: 10px;
}

.registration ul {
    list-style: none;
}

.alert ul li {
    color: red;
}

p a,
p a:visited {
    color: orangered;
    text-decoration: none;
}

p a:hover,
p a:focus {
    color: rgb(153, 56, 20);
}

.signup-link {
    text-align: center;
    font-style: italic;
}

.cta-btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.cta-btn:hover {
    background-color: #3e8e41;
}

.settings {
    text-decoration: none;
    color: white;
}

.about img {
    float: left;
    width: 25px;
    height: 25px;
}

.settings img {
    float: left;
    width: 25px;
    height: 25px;
}

.list-group-item a,
.list-group-item a:visited {
    text-decoration: none;
    display: block;
    color: orangered;
}

.list-group-item a:hover {
    background-color: orangered;
    color: white;
}

.account-edit {
    display: inline-block;
    text-decoration: none;
    background-color: #555;
    padding: 10px 0;
    width: 80px;
}

/* Elements to not display from the profile_pic_update form */
#profile_picture-clear_id,
label[for="id_profile_picture"],
label[for="profile_picture-clear_id"] {
    display: none;
}

