{% extends '_base.html' %}

{% block title %}
Comment Delete | JuniorDevTools
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<form action="" method="post" class="blog-form pt-5 p-3">

    <h1 class="display-4"><strong>Delete Comment</strong></h1>
    <hr>

    <p class="lead">Are you sure you want to delete your comment?</p>

    <p class="lead">"{{comment}}"</p>

    {%csrf_token%}

    <form class="form d-flex">

        <input type="submit" value="Yes" class="btn btn-outline-danger">

        <a href="{% url 'blog_detail' comment.blog_id %}" class=" btn btn-outline-secondary">No</a>

    </form>

</form>
{% endblock %}