{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-dark shadow fixed-top" data-bs-theme="dark" style="width: 100%;">

    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: monospace; font-size: 1.5rem;">
        <strong><span style="color: #777">Junior</span><span style="color: rgb(220, 210, 210)">Dev</span><span
            style="color: rgb(84, 84, 131)">Tools</span></strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if not user.is_authenticated %}
          <li class="nav-item">

            <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>

          </li>
          {% else %}

          <li class="nav-item">

            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>

          </li>
          {%endif%}

          <form class="d-flex ms-3" action="{% url 'search_results' %}" method="get">

            <input class="form-control me-2" type="search" name="q" placeholder="Search Blogs" aria-\ label="Search">

            <button class="btn btn-outline-success" type="submit">Search</button>

          </form>

        </ul>
        {% if user.is_authenticated %}

        <div class="mr-auto">

          <ul class="navbar-nav">

            <li class="nav-item dropdown">

              <img style="border-radius: 30px;" src="{{ user.profile_picture.url }}" width="40px" height="40px">

              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="display: flow-root;">
                {{ user.username }}
              </a>

              <ul class="dropdown-menu dropdown-menu-end">

                <li>

                  <a class="about dropdown-item" href="{% url 'about' %}"><img class="bg-dark"
                      src="{% static 'images/info4.png' %}" width="40px" height="40px">
                    About
                  </a>

                </li>

                <li>

                  <hr class="dropdown-divider">

                </li>

                <li class="settings">

                  <a class="dropdown-item" href="{%url 'settings'%}">

                    <img src="{% static 'images/profile2.png' %}" width="40px" height="40px" />Profile

                  </a>

                </li>

              </ul>

            </li>

          </ul>
          {% else %}

        </div>

        <div class="mr-auto">

          <form class="form d-flex">

            <a href="{% url 'login' %}" class="btn btn-light" style="margin-left: 10px;">Log in</a>

            <a href="{% url 'signup' %}" class="btn btn-success ms-2">Sign up</a>

          </form>

        </div>
        {% endif %}

      </div>

    </div>

  </nav>

  {% block sidebar %}{% endblock %}

  <div class="body pt-5 mt-2 pb-5">{% block content %}{% endblock %}</div>

  <script src="/static/js/bootstrap.bundle.min.js"></script>

</body>

</html>