{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
  <!-- <nav class="navbar navbar-dark" style="
        background-color: rgb(232, 163, 139);
        padding-left: 10px;
        padding-right: 10px;
      ">
    <a class="navbar-brand" href="{%url 'home'%}" style="font-size: 1.5em">
      <em>
        <strong><span style="color: #333">Hello</span>World!</strong>
      </em>
    </a>
    {%if user.is_authenticated%}
    <span class="badge badge-pill badge-success" style="margin: auto">{{user.username}}</span>
    <div class="mr-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="about btn btn-light" href="{% url 'about' %}">About<img src="{% static 'images/info3.png' %}" /></a>
          <a class="settings btn btn-secondary" href="{%url 'settings'%}">Profile Settings<img
              src="{% static 'images/settings.ico' %}" /></a>
        </li>
      </ul>
      {% else %}
      <p style="display: inline; margin: auto">You are not logged in!</p>
    </div>
    <div class="mr-auto">
      <form class="form d-flex">
        <a href="{% url 'login' %}" class="btn btn-light">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn-primary ms-2">Sign up</a>
      </form>
    </div>
    {%endif%}
  </nav> -->

  <!-- DIVIDE -->

  <nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark">
    <!-- <nav class="navbar navbar-dark navbar-expand-lg" style="
      background-color: rgb(232, 163, 139);
    padding-left: 10px;
    padding-right: 10px;
    "> -->
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: monospace;">
        <strong><span style="color: #777">Junior</span><span style="color: rgb(220, 210, 210)">Dev</span><span
            style="color: rgb(84, 84, 131)">Tools</span></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          {%endif%}
          {% if user.is_authenticated %}
          <li><a href="#" class="nav-link px-2 link-light">+ New Post</a></li>
        </ul>
        <div class="mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <img style="float: left; border-radius: 30px;" src="{{ user.profile_picture.url }}" width="40px"
                height="40px">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="display: flow-root;">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="about dropdown-item" href="{% url 'about' %}"><img class="bg-dark"
                      src="{% static 'images/info2(bg-dark).png' %}">
                    About
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a style="display: flow-root;" class="settings dropdown-item" href="{%url 'settings'%}">Profile
                    <img src="{% static 'images/settings.ico' %}" /></a>
                </li>
              </ul>
            </li>
            {% else %}
          </ul>
        </div>
        <div class="mr-auto">
          <form class="form d-flex">
            <a href="{% url 'login' %}" class="btn btn-light" style="margin-left: 3px;">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ms-2">Sign up</a>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="body">{% block content %}{% endblock %}</div>
</body>

<!-- Custom Javascript -->
<script src="{% static 'js/script.js' %}"></script>

<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>