{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Profile Update | HelloWorld
{% endblock %}

{% block content %}
    <form action="" method="post" style="width: 50%;">
        {% if user.first_name %}
        <h1 class="display-5"><strong style="color: #777;">Edit First-Name</strong></h1>
        {% else %}
        <h1 class="display-5"><strong style="color: #777;">Set First-Name</strong></h1>
        {%endif%}
        <br>
        {%csrf_token%}
        {{form|crispy}}
        <input type="submit" value="Save Changes" class="btn btn-outline-success">
    </form>
{% endblock %}